.container {
  width: 80%;
  margin: 0 auto;
}

.list {
  display: flex;
  height: 20vh;

  &__cell {
    justify-content: center;
    border-bottom: 0.5px solid grey;
    margin-bottom: 75px;
    width: 25%;
  }
}
